################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/people_network/.vs
/.vs
/loadbalancer/master/data
/loadbalancer/slave/data1
/loadbalancer/slave/data2
